<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>URLRouter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3261B0611F6F63760025CD62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3261B07A1F6F63760025CD62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3261B0851F6F63760025CD62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
